<!DOCTYPE html>
{% load static %}
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Invest Monitor</title>
    <link rel="shortcut icon" href="{% static 'wallet/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'wallet/style.css' %}">
</head>
{% load admin_urls %}
<body>
    <header>
        <a href="/admin" title="Admin">Admin</a>
    </header>
    <div class="tests" style="color:red">{{ rtl_quote }}</div>
    <section>
        <table>
            <thead>
                <tr>
                    <th>Status</th>
                    <th>Direction</ht>
                    <th>Product name</th>
                    <th>Unit cost</th>
                    <th>Quantity</th>
                    <th>Cours</th>
                    <th>Objectif</th>
                    <th>Stop</th>
                    <th>Underlying</th>
                    <th>Recomendation</th>
                    <th>Created At</th>
                    <th>Updated At</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% if product_list %}
                    {% for product in product_list %}
                        <tr>
                            <td class="text-center">{{ product.status }}</td>
                            <td class="text-center">{{ product.direction }}</td>
                            <td><a href="{{ product.rtl_quote_url }}" title="{{ product.name }}" target="_blank">{{ product.name }}</a></td>
                            <td>{{ product.unit_cost }} EUR</td>
                            <td class="text-center">{{ product.quantity }}</td>
                            <td>{{ product.get_rtl_quote }} {{ product.currency }}</td>
                            <td>{{ product.objectif }} {{ product.currency }}</td>
                            <td>{{ product.stop }} {{ product.currency }}</td>
                            <td><a href="{{ product.underlying_rtl_quote_url }}" title="{{ product.underlying_rtl_quote_url }}" taget="_blank">{{ product.underlying_name }}</a></td>
                            <td><a href="{{ product.recommandation }}" title="{{ product.recommandation }}" target="_blank">Lien</a></td>
                            <td>{{ product.created_at|date:'d/m/Y H:i' }}</td>
                            <td>{{ product.updated_at|date:'d/m/Y H:i' }}</td>
                            <td><a href="/admin/wallet/product/{{ product.id }}/change" title="Edit">Edit</a></td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td>Aucun produit trouvé !</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </section>
</body>
</html>
